.checkbox {
  cursor: pointer;

  span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--borderColor);
    background-color: var(--elemsBgColor);
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.3s all;
    }
    &::before {
      top: 0;
      left: 0;
      background-color: var(--linkActiveColor);
    }
    &::after {
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      background: url("./checkbox.svg") center/cover no-repeat;
    }
  }

  &_checked {
    span {
      &::before,
      &::after {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 575px) {
  .checkbox {
    span {
      height: 15px;
      width: 15px;
    }
  }
}
